@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}
ul {
    padding: 0;
}
p {
    margin: 0;
}
.nav-item {
    list-style: none;
}
.expert {
    max-width: 30%;
}
.search-btn {
    list-style: none;
}

.nav-link:hover{
    text-decoration: underline;
    /* color: aqua; */
}

.yt-logo {
    /* height: 3rem;
    width: 7rem; */
    max-width: 80%;
}
.woman {
    /* height: 25rem;
    width: 18rem; */
    max-width: 90%;
    z-index: 3;
}
.zig-zag {
    /* height: 18rem;
    width: 23rem; */
    max-width: 100%;
    z-index: 1;
    top: 5rem;
    left: -2rem;
}
.rhombus {
    z-index: 0;
    /* height: 12rem;
    width: 12rem; */
    max-width: 50%;
    top: 2.5rem;
    left: 5.5rem;
}
.logo {
    /* height: 2rem;
    width: 2rem; */
    max-width: 10%;
}
.faceb {
    left: 1.5rem;
    top: 1rem;
}

.insta {
    /* height: 3rem;
    width: 3rem; */
    max-width: 13%;
    left: 14.5rem;
    top: 3rem;
}
.twit {
    top: 10rem;
}
.cteam {
    z-index: 4;
    /* height: 8rem;
    width: 12rem; */
    max-width:55%;
    top: 16rem;
    left: -7rem;
}
/*  */
/* .cards{
    width: 15rem;
} */
.card-logo {
    /* height: 5rem;
    width: 5rem; */
    max-width: 30%;

}

.card-text {
    font-size: 1rem;
}
.arrow {
    height: 0.5rem;
    width: 0.5rem;
}
.opt:hover{
    border-bottom: 3px solid blue;
}
.num{
    height: 5rem;
    width: 4rem;
    top: 1rem;
    left: 6rem;
}

.opt-logo{
    height: 3rem;
    width: 3rem;
}

.opt {
    z-index: 1;
}
.box-circle {
    z-index: 0;
    height: 20rem;
    width: 20rem;
}
/*  */
.solution-container {
    margin-top: 8rem;
}
.mac {
    height: 10rem;
    width: 20rem;
}
.perfect-box{
    width: 20rem;
}
/*  */
.read-more-container, .choose-container{
    margin-top: 4rem;
}
.rect {
    height: 3rem;
    width: 3rem;
}
.card2 {
    width: 13rem;
}

.logo-2 {
    left: 1.5rem;
    top: 1.5rem;
}

.choose-logo {
    height: 8rem;
    width: 10rem;
}
/* */
.route{
    height: 18rem;
    width: 20rem;
}
.email-logo {
    height: 3rem;
    width: 3rem;
}
/* .seo-box{
    width: 20rem;
} */
/*  */
/* .stat-card{
    width: 40rem;
} */
/* */
.women {
    height: 5rem;
    width: 5rem;
}
/*  */
.women-2 {
    height: 1.5rem;
    width: 1.5rem;
}
.client-text {
    z-index: 1;
}
.quote-logo {
    z-index: 0;
}
/*  */
.subscribe{
    background-color: #6F77F1;
    color: white;
}

