@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}
ul {
    padding: 0;
}
p {
    margin: 0;
}
/* section1 */
.nav-item {
    list-style: none;
}
/* secttion2 */
.expert {
    max-width: 30%;
}
.search-btn {
    list-style: none;
}

.nav-link:hover{
    text-decoration: underline;
    /* color: aqua; */
}

.yt-logo {
    /* height: 3rem;
    width: 7rem; */
    max-width: 80%;
}
.woman {
    max-width: 90%;
    z-index: 3;
}
.zig-zag {
    /* height: 18rem;
    width: 23rem; */
    max-width: 100%;
    z-index: 1;
    top: 5rem;
    left: -2rem;
}
.rhombus {
    z-index: 0;
    /* height: 12rem;
    width: 12rem; */
    max-width: 50%;
    top: 2.5rem;
    left: 5.5rem;
}
.logo {
    /* height: 2rem;
    width: 2rem; */
    max-width: 10%;
}
.faceb {
    left: 1.5rem;
    top: 1rem;
}

.insta {
    /* height: 3rem;
    width: 3rem; */
    max-width: 13%;
    left: 14.5rem;
    top: 3rem;
}
.twit {
    top: 10rem;
}
.cteam {
    z-index: 4;
    /* height: 8rem;
    width: 12rem; */
    max-width:55%;
    top: 16rem;
    left: -7rem;
}
/*  */
/* .cards{
    width: 15rem;
} */
.card-logo {
    /* height: 5rem;
    width: 5rem; */
    max-width: 30%;

}
.cards:hover {
    transition: 300ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-text {
    font-size: 0.9rem;
}
.arrow {
    height: 0.5rem;
    width: 0.5rem;
}
.opt:hover{
    transition: 300ms ease-in-out;
    border-bottom: 3px solid blue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.num{
    height: 5rem;
    width: 4rem;
    top: 1rem;
    left: 6rem;
}

.opt-logo{
    height: 3rem;
    width: 3rem;
}

.opt {
    z-index: 1;
}
.box-circle {
    z-index: 0;
    height: 20rem;
    width: 20rem;
}
/*  */
.solution-container {
    margin-top: 8rem;
}
.mac {
    height: 10rem;
    width: 20rem;
}
.perfect-box{
    width: 20rem;
}
/*  */
.read-more-container, .choose-container{
    margin-top: 4rem;
}
.rect {
    height: 3rem;
    width: 3rem;
}
.card2 {
    width: 13rem;
}
.card2:hover, .choose-box:hover {
    transition: 300ms ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo-2 {
    left: 1.5rem;
    top: 1.5rem;
}

.choose-logo {
    height: 8rem;
    width: 10rem;
}
/* */
.route{
    /* height: 18rem;
    width: 20rem; */
    max-width: 100%;
}
.check {
    max-width: 50%;
}
.email-logo {
    height: 3rem;
    width: 3rem;
}
/* .seo-box{
    width: 20rem;
} */
/*  */
/* .stat-card{
    width: 40rem;
} */
/* */
.our-plans>h4 {
    color: #6F77F1;
}
.our-plans>p:hover {
    color: white;
}
.our-plans:hover a {
    background-color: yellow;
    color: black;
}
.our-plans:hover h4 {
    /* background-color: yellow; */
    color: white;
}
.our-plans:hover {
    background-image: url("../pics/ourPlans/Mask\ group.png");
    background-position: center;
    transform: scale(1.1);
    transition: 300ms ease-in-out;
    text-decoration: none;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.women {
    /* height: 5rem;
    width: 5rem; */
    max-width: 100%;
}
/*  */
.women-2 {
    height: 1.5rem;
    width: 1.5rem;
}
.client-text {
    z-index: 1;
}
.quote-logo {
    z-index: 0;
}
/*  */
.subscribe{
    background-color: #6F77F1;
    color: white;
}

/* swiper */
.swiper {
    max-width: 80%;
    height: auto;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper_li{
    background-image: url("../pics/swiper/“.png");
    background-repeat: no-repeat;
}
.swiper-slide img {
    display: block;
    max-width: 100%;
    object-fit:fill;
}
@media screen and (min-width : 1025px){
    h1{
        font-size: 4.2rem;
        font-weight: 700;
    }
}
@media screen and (min-width: 768px) and (max-width : 1024px){
    h1{
        font-size: 3rem;
    }
}
@media screen and (min-width: 320px) and (max-width : 767px){
    h1{
        font-size: 2rem;
    }
    .card-text{
        font-size: 0.7rem;
    }
    /* section2 */
    .yt-logo{
        max-width: 60%;
    }
    .woman{
        max-width: 100%;
        z-index: 3;
    }
    .zig-zag {
        max-width: 100%;
        z-index: 1;
        top: 5rem;
        left: -1rem;
    }
    .rhombus {
        z-index: 0;
        max-width: 50%;
        top: 2.5rem;
        left: 5.5rem;
    }
    .logo {
        max-width: 10%;
    }
    .faceb {
        left: 1.5rem;
        top: 1rem;
    }
    
    .insta {
        max-width: 13%;
        left: 14.5rem;
        top: 3rem;
    }
    .twit {
        top: 9rem;
        left: 1rem;
    }
    .cteam {
        z-index: 4;
        max-width:70%;
        top: 16rem;
        left: -3rem;
    }
    /* section3 */
    /* section8 */
    .route {
        max-width: 100%;
    }
    .check {
        max-width: 100%;
    }
    .women {
        max-width: 60%;
    }
}

